HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
DATABASE_CLIENT=postgres
DATABASE_URL=postgresql://username:password@host:25060/defaultdb?sslmode=require
DATABASE_HOST=host
DATABASE_PORT=25060
DATABASE_NAME=defaultdb
DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=false
DATABASE_SCHEMA=public
SPACES_ENDPOINT=https://sfo3.digitaloceanspaces.com
SPACES_REGION=sfo3
SPACES_BUCKET=kenyabunduki
SPACES_KEY=your_spaces_key
SPACES_SECRET=your_spaces_secret
SPACES_ACL=public-read
SPACES_ROOT_PATH=EXPO
SPACES_CDN_BASE_URL=https://kenyabunduki.sfo3.cdn.digitaloceanspaces.com
NEXT_PUBLIC_SPACES_CDN_BASE_URL=https://kenyabunduki.sfo3.digitaloceanspaces.com
